html, body {
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	font-family: Montserrat, sans-serif;
}

/* Structure */

#background {
	display: flex;
	flex: 1;

	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	background-image: url('../assets/bg.jpg');
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 100px;
	width: 100%;

	background-color: white;
	border-bottom: 2px solid #E1E4E9;
}

#board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 40px;
}

.board-row {
	display: flex;
}

.spacer {
	margin: 0 10px 0 10px;
}

/* Header Elements */

.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.header-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.header-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#title {
	display: flex;
	justify-content: center;

	font-size: 1.5em;
}

#timer {

}


/* Buttons */

#newGameBtn {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	color: #FFF;
	font-weight: 900;
	font-size: 1.1em;
}


/* Cards */

.card {
	background-image: url('../assets/cards/card_back.jpg');
	overflow: hidden;

	margin: 5px;

	border-radius: 15px;

	border: 1px solid white;
	box-shadow: 0 0 10px white;

	animation-name: cardDeselection;
	animation-duration: 0.5s;
}

.card:hover {
	box-shadow: 0 0 10px black;
	border-color: black;

	animation-name: cardSelection;
	animation-duration: 0.5s;
}

.card.card-success {
	box-shadow: 0 0 50px #5cb85c;
}

.card.card-fail {
	box-shadow: 0 0 50px #d9534f;
}

@keyframes cardSelection {
	from { box-shadow: 0 0 10px white; border-color: white; }
	to { box-shadow: 0 0 10px black; border-color: black; }
}

@keyframes cardDeselection {
	from { box-shadow: 0 0 10px black; border-color: black; }
	to { box-shadow: 0 0 10px white; border-color: white; }
}

.card, .card img {
	width: 200;
	height: 250;
}

img.card-back {
	opacity: 0;
}

img.card-front {
	opacity: 1;

	animation-name: cardFrontAnim;
	animation-duration: 0.5s;
}

@keyframes cardFrontAnim {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Media Queries */

@media screen and (max-width: 768px) {
	#header {
		flex-direction: column;
		height: 20%;
	}

	#board {
		margin-top: 20px;
	}

	.card, .card img {
	width: 100;
	height: 150;
}
}